* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content {
    text-align: center;
}

/****** TEXT  ******/
main .content .text {
    font-size: 45px;
    padding: 7px 15px;
    border-radius: 8px;
    color: #fff;
    background-color: #262525;
    margin-bottom: 35px;
}

main .content .text #colorName {
    color: #55a5e9;
}

/****** BUTTON  ******/
main .content button {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    padding: 8px 13px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
}

main .content button:hover {
    border-color: #55a5e9;
}
